name: Bump Version Job

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      artifact_name:
        required: true
        type: string
    secrets:
      access_token:
        required: true
env:
  ARTIFACT_NAME: ${{ inputs.artifact_name }}
  ACCESS_TOKEN: ${{ secrets.access_token }}

jobs:
  bump_minor_version:
    name: Bump Version and Publish Docker Image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - run: git config user.name "$GITHUB_ACTOR"
      - run: npm version ${{ inputs.version }}
      - run: echo RELEASE_VERSION=$(node -p "require('./package.json').version") >> $GITHUB_ENV
      - run: git push "https://$GITHUB_ACTOR:${{ secrets.access_token }}@github.com/$GITHUB_REPOSITORY.git" --tags
      - run: |-
          echo $ACCESS_TOKEN | docker login ghcr.io -u ibkusnanto --password-stdin
      # Build the Docker image
      - name: Build
        run: |-
          docker build -t "ghcr.io/my-motivational-quotes/$ARTIFACT_NAME:${{env.RELEASE_VERSION}}" .
      # Push the Docker image to Google Container Registry
      - name: Publish
        run: |-
          docker push "ghcr.io/my-motivational-quotes/$ARTIFACT_FOLDER/$ARTIFACT_NAME:${{env.RELEASE_VERSION}}"
